In [2]:
import pandas as pd

### Connect Pandas to the database with this URL:

In [3]:
titles = pd.read_csv(r'C:\Users\client\Documents\titles.csv')
titles.head()

                     title  year
0           The Rising Son  1990
1  The Thousand Plane Raid  1969
2         Crucea de piatra  1993
3                  Country  2000
4               Gaiking II  2011

In [4]:
cast = pd.read_csv(r'C:\Users\client\Documents\cast.csv')
cast.head()

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4   NaN
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

### Define a year as a "Superman year" whose films feature more Superman characters than Batman. How many years in film history have been Superman years?

In [12]:
both=cast[(cast.character=='Superman') | (cast.character == 'Batman')].groupby(['year','character']).size().unstack().fillna(0)
diff=both.Superman-both.Batman
len(diff[diff>0])

Superman: 11

11

### How many years have been "Batman years", with more Batman characters than Superman characters?

In [13]:
both=cast[(cast.character=='Superman') | (cast.character == 'Batman')].groupby(['year','character']).size().unstack().fillna(0)
diff=both.Batman-both.Superman
len(diff[diff>0])

26

### Count the number of actor roles each year and the number of actress roles each year over the history of film.

In [15]:
cast1=cast[cast['type']=='actor']
cast1.groupby('year')['type'].value_counts()

year  type
1894  actor     2
1900  actor     2
1905  actor     1
1906  actor    14
1907  actor     5
               ..
2021  actor     9
2022  actor    18
2023  actor     6
2025  actor     2
2026  actor     1
Name: type, Length: 123, dtype: int64

In [16]:
cast2=cast[cast['type']=='actress']
cast2.groupby('year')['type'].value_counts()

year  type
1894  actress      1
1906  actress      3
1908  actress     13
1910  actress     24
1911  actress     66
                ...
2019  actress    150
2020  actress     48
2021  actress      4
2022  actress     11
2023  actress      5
Name: type, Length: 117, dtype: int64

### Find the difference between the number of actor roles each year and the number of actress roles each year over the history of film.

In [27]:
cast3=cast.groupby('year')['type'].value_counts().unstack().fillna(0)
diff=cast3.actor-cast3.actress
diff.tail(20)

year
2006    25416.0
2007    25939.0
2008    28665.0
2009    34158.0
2010    34419.0
2011    36319.0
2012    40135.0
2013    42034.0
2014    41361.0
2015    40868.0
2016    47093.0
2017    21528.0
2018     1385.0
2019      181.0
2020       50.0
2021        5.0
2022        7.0
2023        1.0
2025        2.0
2026        1.0
dtype: float64

### What is the fraction of roles that have been 'actor' roles each year in the history of film.

In [29]:
div=cast3.actor/(cast3.actor+cast3.actress)
div

year
1894    0.666667
1900    1.000000
1905    1.000000
1906    0.823529
1907    1.000000
          ...
2021    0.692308
2022    0.620690
2023    0.545455
2025    1.000000
2026    1.000000
Length: 123, dtype: float64

### What is the fraction of supporting (n=2) roles that have been 'actor' roles each year in the history of film.

In [31]:
cast4=cast[cast.n==2].groupby('year')['type'].value_counts().unstack().fillna(0)
div1=cast4.actor/(cast4.actor+cast4.actress)
div1

year
1906    0.666667
1907    1.000000
1908    1.000000
1910    0.500000
1911    0.736842
          ...
2016    0.561779
2017    0.578637
2018    0.577465
2019    0.777778
2020    0.333333
Length: 114, dtype: float64