In [1]:
import pandas as pd

### Connect Pandas to the database with this URL:

In [2]:
titles = pd.read_csv(r'C:\Users\client\Documents\titles.csv', index_col=None)
titles.head()

                     title  year
0           The Rising Son  1990
1  The Thousand Plane Raid  1969
2         Crucea de piatra  1993
3                  Country  2000
4               Gaiking II  2011

In [3]:
cast = pd.read_csv(r'C:\Users\client\Documents\cast.csv')
cast.head(5)

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4   NaN
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

### What are the ten most common movie names of all time?

In [4]:
(titles['title'].value_counts()).head(10)

Hamlet                  18
Carmen                  16
Macbeth                 15
Maya                    12
The Outsider            12
Othello                 11
Kismet                  11
Temptation              11
Freedom                 11
The Three Musketeers    11
Name: title, dtype: int64

### Which three years of the 1930s saw the most films released?

In [13]:
titles[(titles['year']>=1930) & (titles['year']<=1939)].groupby('year')['year'].value_counts().sort_values().tail(3)

year  year
1938  1938    1129
1936  1936    1138
1937  1937    1196
Name: year, dtype: int64

### Count the number of films that have been released each decade over the history of cinema.

In [14]:
titles.loc[(titles['year']>=1890) & (titles['year']<1900), 'column_name'] = 1890
titles.loc[(titles['year']>=1900) & (titles['year']<1910), 'column_name'] = 1900
titles.loc[(titles['year']>=1910) & (titles['year']<1920), 'column_name'] = 1910
titles.loc[(titles['year']>=1920) & (titles['year']<1930), 'column_name'] = 1920
titles.loc[(titles['year']>=1930) & (titles['year']<1940), 'column_name'] = 1930
titles.loc[(titles['year']>=1940) & (titles['year']<1950), 'column_name'] = 1940
titles.loc[(titles['year']>=1950) & (titles['year']<1960), 'column_name'] = 1950
titles.loc[(titles['year']>=1960) & (titles['year']<1970), 'column_name'] = 1960
titles.loc[(titles['year']>=1970) & (titles['year']<1980), 'column_name'] = 1970
titles.loc[(titles['year']>=1980) & (titles['year']<1990), 'column_name'] = 1980
titles.loc[(titles['year']>=1990) & (titles['year']<2000), 'column_name'] = 1990
titles.loc[(titles['year']>=2000) & (titles['year']<2010), 'column_name'] = 2000
titles.loc[(titles['year']>=2010) & (titles['year']<2020), 'column_name'] = 2010
titles.loc[(titles['year']>=2020) & (titles['year']<2030), 'column_name'] = 2020

i_range=[1890,1900,1910,1920,1930,1940,1950,1960,1970,1980,1990,2000,2010,2020]

for i in i_range:
    print(i, len(titles[titles['column_name'] == i]))

1890 3
1900 37
1910 6512
1920 8797
1930 10097
1940 8576
1950 12711
1960 17515
1970 18714
1980 20243
1990 22225
2000 38713
2010 67977
2020 210

### Count the number of "Hamlet" films made each decade.

In [27]:
#column_name stands for the decade

cast.loc[(cast['year']>=1890) & (cast['year']<1900), 'column_name'] = 1890
cast.loc[(cast['year']>=1900) & (cast['year']<1910), 'column_name'] = 1900
cast.loc[(cast['year']>=1910) & (cast['year']<1920), 'column_name'] = 1910
cast.loc[(cast['year']>=1920) & (cast['year']<1930), 'column_name'] = 1920
cast.loc[(cast['year']>=1930) & (cast['year']<1940), 'column_name'] = 1930
cast.loc[(cast['year']>=1940) & (cast['year']<1950), 'column_name'] = 1940
cast.loc[(cast['year']>=1950) & (cast['year']<1960), 'column_name'] = 1950
cast.loc[(cast['year']>=1960) & (cast['year']<1970), 'column_name'] = 1960
cast.loc[(cast['year']>=1970) & (cast['year']<1980), 'column_name'] = 1970
cast.loc[(cast['year']>=1980) & (cast['year']<1990), 'column_name'] = 1980
cast.loc[(cast['year']>=1990) & (cast['year']<2000), 'column_name'] = 1990
cast.loc[(cast['year']>=2000) & (cast['year']<2010), 'column_name'] = 2000
cast.loc[(cast['year']>=2010) & (cast['year']<2020), 'column_name'] = 2010
cast.loc[(cast['year']>=2020) & (cast['year']<2030), 'column_name'] = 2020

cast1=cast[cast["title"]=='Hamlet'].groupby('column_name')['title'].value_counts()
cast1

column_name  title
1910.0       Hamlet    28
1920.0       Hamlet     9
1940.0       Hamlet    24
1950.0       Hamlet     1
1960.0       Hamlet    57
1970.0       Hamlet    19
1980.0       Hamlet     3
1990.0       Hamlet    83
2000.0       Hamlet    55
2010.0       Hamlet    34
Name: title, dtype: int64

### Count the number of "Rustler" characters in each decade of the history of film.

In [24]:
cast1=cast[cast["character"]=='Rustler'].groupby('column_name')['character'].value_counts()
cast1

column_name  character
1920.0       Rustler       6
1930.0       Rustler      84
1940.0       Rustler      18
1950.0       Rustler       8
1960.0       Rustler       2
1970.0       Rustler       9
1980.0       Rustler       1
1990.0       Rustler       4
2000.0       Rustler       2
Name: character, dtype: int64

### Count the number of "Hamlet" characters each decade.

In [28]:
cast1=cast[cast["title"]=='Hamlet'].groupby('column_name')['character'].value_counts()
cast1

column_name  character
1910.0       Hamlet       3
             Claudius     2
             Gertrude     2
             Horatio      2
             Laertes      2
                         ..
2010.0       Policeman    1
             Polonia      1
             Polonius     1
             Priest       1
             Reynaldo     1
Name: character, Length: 221, dtype: int64

### What are the 11 most common character names in movie history?

In [29]:
cast['character'].value_counts().sort_values().tail(11)

Minor Role      6255
Bartender       6613
Nurse           6676
Party Guest     6742
Policeman       6883
Student         7177
Doctor          7436
Reporter        8154
Extra          10953
Dancer         12096
Himself        19600
Name: character, dtype: int64

### Who are the 10 people most often credited as "Herself" in film history?

In [33]:
cast[cast['character']=='Herself'].groupby('name')['character'].value_counts().sort_values().tail(10)

name                character
Rekha               Herself       5
Kareena Kapoor      Herself       5
Caroline Rhea       Herself       5
Sumie Sakai         Herself       6
Joan Rivers         Herself       6
Hillary Clinton     Herself       7
Mary Jo Pehl        Herself       7
Margaret Thatcher   Herself       8
Joyce Brothers      Herself       9
Queen Elizabeth II  Herself      11
Name: character, dtype: int64

### Who are the 10 people most often credited as "Himself" in film history?

In [34]:
cast[cast['character']=='Himself'].groupby('name')['character'].value_counts().sort_values().tail(10)

name                character
Bill Clinton        Himself       20
Martin Luther King  Himself       21
Ron Jeremy          Himself       23
Benito Mussolini    Himself       23
George W. Bush      Himself       23
Winston Churchill   Himself       24
John F. Kennedy     Himself       34
Ronald Reagan       Himself       39
Richard Nixon       Himself       46
Adolf Hitler        Himself      100
Name: character, dtype: int64

### Which actors or actresses appeared in the most movies in the year 1945?

In [35]:
cast[cast["year"]==1945]['name'].value_counts().sort_values().tail()

Nolan Leary        27
Bess Flowers       29
Harold Miller      29
Sam (II) Harris    32
Emmett Vogan       39
Name: name, dtype: int64

### Which actors or actresses appeared in the most movies in the year 1985?

In [36]:
cast[cast["year"]==1985]['name'].value_counts().sort_values().tail()

Lou Scheimer     15
Mohanlal         15
Sukumari         20
Shakti Kapoor    21
Mammootty        22
Name: name, dtype: int64

### How many roles Mammootty has played in each year of his career.

In [37]:
cast[cast["name"]=='Mammootty'].groupby('year')['name'].value_counts()

year  name
1971  Mammootty     1
1980  Mammootty     2
1981  Mammootty     3
1982  Mammootty     7
1983  Mammootty    18
1984  Mammootty    16
1985  Mammootty    22
1986  Mammootty    18
1987  Mammootty     9
1988  Mammootty     7
1989  Mammootty    10
1990  Mammootty    15
1991  Mammootty     6
1992  Mammootty     3
1993  Mammootty     5
1994  Mammootty     5
1995  Mammootty     5
1996  Mammootty     3
1997  Mammootty     2
1998  Mammootty     4
1999  Mammootty     4
2000  Mammootty     7
2001  Mammootty     3
2002  Mammootty     3
2003  Mammootty     2
2004  Mammootty     8
2005  Mammootty     6
2006  Mammootty     8
2007  Mammootty     7
2008  Mammootty     9
2009  Mammootty    12
2010  Mammootty     9
2011  Mammootty     7
2012  Mammootty     7
2013  Mammootty     5
2014  Mammootty     6
2015  Mammootty     6
2016  Mammootty     4
2017  Mammootty     1
Name: name, dtype: int64

### What are the 10 most frequent roles that start with the phrase "Patron in"?

In [38]:
cast[cast.character.str.startswith('Patron in')]['character'].value_counts().sort_values().tail(10)

Patron in Audience               2
Patron in Club                   3
Patron in cabaret                3
Patron in Restaurant             3
Patron in Bar                    4
Patron in restaurant             4
Patron in Billiard Parlor        5
Patron in Chinese Restaurant     9
Patron in the Coffee House       9
Patron in Frisky Rabbit         16
Name: character, dtype: int64

### What are the 10 most frequent roles that start with the word "Science"?

In [39]:
cast[cast.character.str.startswith('Science')]['character'].value_counts().sort_values().tail(10)

Science teacher          3
Science                  4
Science Kid              5
Science Promo Cadet      5
Science Reporter         5
Science Club Member      5
Science Fair Judge       6
Science Student          9
Science Fair Student     9
Science Teacher         60
Name: character, dtype: int64

### Count number of n-values of the roles that Judi Dench has played over her career.

In [42]:
cast1=cast[cast['name']=='Judi Dench'].groupby('n')["name"].value_counts()
cast1

n     name
1.0   Judi Dench    6
2.0   Judi Dench    6
3.0   Judi Dench    6
4.0   Judi Dench    4
5.0   Judi Dench    2
6.0   Judi Dench    4
7.0   Judi Dench    4
8.0   Judi Dench    1
9.0   Judi Dench    1
12.0  Judi Dench    3
13.0  Judi Dench    2
16.0  Judi Dench    2
18.0  Judi Dench    2
20.0  Judi Dench    1
23.0  Judi Dench    1
26.0  Judi Dench    1
29.0  Judi Dench    1
40.0  Judi Dench    1
Name: name, dtype: int64

### Count number of n-values of Cary Grant's roles through his career.

In [44]:
cast1=cast[cast['name']=='Cary Grant'].groupby('n')["name"].value_counts()
cast1

n     name
1.0   Cary Grant    46
2.0   Cary Grant    20
3.0   Cary Grant     2
4.0   Cary Grant     1
5.0   Cary Grant     1
8.0   Cary Grant     1
9.0   Cary Grant     2
10.0  Cary Grant     2
Name: name, dtype: int64

### Count number of n-value of the roles that Sidney Poitier has acted over the years.

In [45]:
cast1=cast[cast['name']=='Sidney Poitier'].groupby('n')["name"].value_counts()
cast1

n     name
1.0   Sidney Poitier    21
2.0   Sidney Poitier     8
3.0   Sidney Poitier     6
4.0   Sidney Poitier     3
5.0   Sidney Poitier     1
10.0  Sidney Poitier     1
13.0  Sidney Poitier     1
21.0  Sidney Poitier     1
Name: name, dtype: int64

### How many leading (n=1) roles were available to actors, and how many to actresses, in the 1950s?

In [46]:
cast1=cast[(cast['year']>=1950) & (cast['year']<1960) & (cast['n']==1)].groupby('type')['n'].value_counts()
cast1

type     n
actor    1.0    6616
actress  1.0    2965
Name: n, dtype: int64

### How many supporting (n=2) roles were available to actors, and how many to actresses, in the 1950s?

In [47]:
cast1=cast[(cast['year']>=1950) & (cast['year']<1960) & (cast['n']==2)].groupby('type')['n'].value_counts()
cast1

type     n
actor    2.0    4564
actress  2.0    4556
Name: n, dtype: int64